@charset "uft-8";
$gray: #333333;
$orange: #f28704;

.top{
header{
    .header_img{
        display: none;
    }
    .header_inner{
        nav{
            ul{
                li{
                    a{
                    color: $gray;
                    }
                }
            }
        }

    }
}
}
@media screen and (max-width: 767px) {
    .top{
        header{
            .header_inner{
                nav{
                    ul{
                        li{
                            a{
                            color: white;
                            }
                        }
                    }
                }
                .sp_btn{
                    span{
                        background-color: $gray;
                        &:before,
                        &:after{
                            background-color: $gray;
                        }
                    }
                }
            }
        }
    }
}

@function rand($min, $max) {
    @return random() * ($max - $min) + $min;
  }
  
  $animation-duration: 3s;
  $glitch-duration: 20%;
  $glitch-frequency: 10;
  $glitch-interval: $glitch-duration / $glitch-frequency;
  
  @mixin rgb-shift($name) {
    @keyframes rgb-shift-#{$name} {
      @for $i from 0 to $glitch-frequency {
        #{$i * $glitch-interval} {
          transform: translate(
            #{rand(-2, 2) * 1%},
            #{rand(-0.5, 0.5) * 1%}
          );
        }
      }
  
      #{$glitch-duration}, 100% {
        transform: none;
      }
    }
  
    animation: rgb-shift-#{$name} $animation-duration steps(1, jump-end) infinite alternate both;
  }
  
  @mixin glitch($name) {
    @keyframes glitch-#{$name} {
      @for $i from 0 to $glitch-frequency {
        $left: 0%;
        $right: 100%;
        $top: rand(0, 90) * 1%;
        $bottom: $top + rand(1, 10) * 1%;
  
        #{$i * $glitch-interval} {
          clip-path: polygon(
            $left $top,
            $right $top,
            $right $bottom,
            $left $bottom
          );
          transform: translate(
            #{rand(-8, 8) * 1%},
            #{rand(-0.5, 0.5) * 1%}
          );
        }
      }
  
      #{$glitch-duration}, 100% {
        clip-path: none;
        transform: none;
      }
    }
  
    animation: glitch-#{$name} $animation-duration linear infinite alternate both;
  }
.top{
    position: relative;
    .top_img{
        width: 100%;
    }
    .top_logo{
        background: #000 no-repeat center;
        background-size: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -45%);
        width: 51vw;
        height: 100%;
        mask-image: url(../images/logo@2x.png);
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-image: url(../images/logo@2x.png);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        &::before,
        &::after,
        .channel{
            background: inherit;
            background-size: contain;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            mix-blend-mode: screen;
            &::before {
                @include glitch(before);
                content: "";
              }
            
              &::after {
                @include glitch(after);
                content: "";
              }
        }
        .channel{
            &::before{
                content: "";
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                mix-blend-mode: multiply;
            }
        }
        .r{
            @include rgb-shift(r);
            &::before{
                background-color: #f00;
            }
        }
        .g {
            @include rgb-shift(g);
            &::before {
              background: #0f0;
            }
          }
          
          .b {
            @include rgb-shift(b);
            &::before {
              background: #00f;
            }
        }
    }
    #tri{
        position: absolute;
        top: 30.7%;
        left: 11.5%;
        transform: translate(-50%, -50%);
        width: 10vw;
          .cls-2{
             animation: blink 2s linear infinite;
            }
          .cls-3{
            animation: neon 2s linear infinite;
          }
          @keyframes blink{ 
            81%{
              fill: #efe;
            }
            82%{
              fill: #333;
            }
            83%{
              fill: #efe;
            }
            92%{
              fill: #333;
            }
            92.5%{
              fill: #efe;
            }
           
          }
          
          
          @keyframes neon{
            81%{
              opacity: .3;
            }
             82%{
              opacity: 0;
            }
              83%{
              opacity: .3;
            }
               92%{
              opacity: 0;
            }
                92.5%{
              opacity: .3;
            }
          }
          
    }
    .top_circle{
        position: absolute;
        bottom: -9.8%;
        left: 11.8%;
        transform: translate(-50%, -50%);
        width: 10vw;
    }
    .top_closs{
        position: absolute;
        bottom: 14.4%;
        left: 34.8%;
        transform: translate(-50%, -50%);
        width: 10vw;
    }
    .top_square{
        position: absolute;
        bottom: 14.5%;
        right: 17%;
        transform: translate(-50%, -50%);
        width: 10vw;
    }
    .top_w{
        position: absolute;
        bottom: 14.8%;
        left: 58%;
        transform: translate(-50%, -50%);
        width: 3.5vw;
    }
    .top_a{
        position: absolute;
        bottom: -3px;
        left: 49.9%;
        transform: translate(-50%, -50%);
        width: 2.5vw;
    }
    .top_s{
        position: absolute;
        bottom: 0%;
        left: 57.4%;
        transform: translate(-50%, -50%);
        width: 2vw;
    }
    .top_d{
        position: absolute;
        bottom: 7px;
        left: 65.3%;
        transform: translate(-50%, -50%);
        width: 2vw;
    }
    .sp_top{
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .top{
        .top_img{
            display: none;
        }
        .sp_top{
            display: block;
        }
        .sp_img{
            display: block;
            width: 100vw;
        }
        .top-logo.sp_logo{
            background-color: #000;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 66.6vw;
        }
        #tri, .top_circle, .top_closs, .top_square{
            width: 16.5vw;
        }
        #tri{
            top: 20.1%;
            left: 18.7%;
        }
        .top_circle{
            top: 74.2%;
            left: 6.32%;
        }
        .top_closs{
            bottom: 1.5%;
            left: 31.3%;
        }
        .top_square{
            bottom: 10.4%;
            left: 56.3%;
        }
        .top_w{
            bottom: 9.3%;
            left: 81.6%;
            width: 5.5vw;
        }
        .top_a{
            bottom: 0.5%;
            left: 68.7%;
            width: 3.5vw;
        }
        .top_s{
            bottom: 0.3%;
            left: 80.7%;
            width: 3vw;
        }
        .top_d{
            bottom: 0.3%;
            left: 93.3%;
            width: 3.5vw;
        }
    }
}

/*works*/
.works{
    margin: 120px 0 120px;
    .works_inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 80%;
        margin: 0 auto 100px;
        .works_content{
            width: 400px;
            margin-bottom: 50px;
            overflow: hidden;
            .content_img{
                position: relative;
                width: 100%;
            }
            .content_img:before{
                content: "";
                display: block;
                position: absolute;
                top: -100%;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url(../images/read-more-hover@2x.png);
                background-size: cover;
                transition: top 0.35s;
            }
            .content_text{
                padding: 20px;
                border-bottom-left-radius:20px;
                border-bottom-right-radius: 20px;
                background-color: white;
                text-align: left;
                h4{
                    padding-bottom: 10px;
                    color: $gray;
                    font-size: 20px;
                }
                .content_category{
                    display: flex;
                    justify-content: flex-start;
                    .category_item{
                        display: block;
                        margin-right: 10px;
                        padding: 5px 10px;
                        background-color: $gray;
                        border-radius: 10px;
                        font-size: 14px;
                        color: white;
                    }
                }
            }
            &:hover .content_img:before{
                top: 0;
                
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
        }
        .works_btn{
            display: block;
            width: 22vw;
            max-width: 300px;
            margin: 0 auto;
        }
    }

    @media  screen and (max-width: 767px) {
        .works{
            margin: 40px auto 70px;
            .works_inner{
                margin:0 auto 30px;
                .works_content{
                    margin-bottom: 20px;
                    .content_text{
                        padding: 15px 20px;
                        h4{
                            font-size: 16px;
                        }
                        .content_category{
                            .category_item{
                                margin-right: 6px;                
                            }
                        }
                    }
                }
            }
            .works_btn{
                width: 40vw;
                min-width: 150px;
            }
        }
    }

    /*skill*/
    .skill{
        margin-bottom: 120px;
        background-color: $orange;
        .piece_top{
            transform: scale(-1, 1) translateY(-1px);
        }
        .piece_top_sp{
            display: none;
        }
        h2{
            margin: -120px 0 140px;
            color: $gray;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 80%;
            margin: 0 auto 70px;
            list-style: none;
            li{
                .skill_icon{
                    width: 15vw;
                    max-width: 210px;
                    margin: 0 auto;
                    padding-bottom: 40px;
                }
                h3{
                    padding-bottom: 10px;
                    font-family: 'Silom';
                    font-size: 24px;
                    color: $gray;
                    -webkit-text-stroke: 1px #fff;
                    text-align: center;
                }
                p{
                    padding-bottom:40px;
                    color: $gray;
                    font-size: 14px;
                    text-align: center;
                }
                .skill_text{
                    width: 15vw;
                    max-width: 210px;
                    margin: 0 auto;
                    color: $gray;
                    line-height: 28px;;
                }
            }
        }
        .piece_bottom{
            transform: scale(1, -1) translateY(-1px);
        }
        .piece_bottom_sp{
            display: none;
        }
    }
    @media screen and (max-width: 767px) {
        .skill{
            margin-bottom: 70px;
            .piece_top{
                display: none;
            }
            .piece_top_sp{
                display: block;
                position: relative;
                top: -1px;
                width: 40.8%;
                margin: 0 0 0 auto;
                transform: scale(-1, 1);
            }
            h2{
                margin: 0 auto 30px;
            }
            ul{
                margin: 0 auto 50px;
                li{
                    width: 80vw;
                    margin-bottom: 40px;
                    .skill_icon{
                        width: 40vw;
                        padding-bottom: 20px;
                    }
                    h3{
                        padding-bottom: 5px;
                        font-size: 20px;                        
                    }
                    p{
                        padding-bottom: 15px;
                        font-size: 12px
                    }
                    .skill_text{
                        width: 100%;
                        font-size: 15px;
                        line-height: 26px;
                    }
                }
            }
            .piece_bottom{
                display: none;
            }
            .piece_bottom_sp{
                display: block;
                position: relative;
                bottom: -1px;
                left: -1px;
                width: 40.8%;
                margin: 0 auto 0 0;
                transform: scale(1, -1);
            }
        }
    }

    /*about*/
    .about{
        margin: 0 auto 120px;
        .about_inner{
            display: flex;
            justify-content: center;
            .about_img{
                width: 22%;
                max-width: 300px;
                padding-right: 7.3vw;
            }
            .text_wrap{
                text-align: center;
                .text{
                    width: 36vw;
                    max-width: 486px;
                    padding-bottom: 40px;
                    font-size: 16px;
                    line-height: 28px;
                }
                .btn{
                    display: block;
                    width: 16vw;
                    max-width: 220px;
                    margin: 0 auto;
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        .about{
            margin: 0 auto 70px;
            .about_inner{
                flex-direction: column;
                align-items: center;
                .about_img{
                    width: 40vw;
                    margin: 0 auto 20px;
                    padding: 0;;
                }
                .text_wrap{
                    width: 80%;
                    .text{
                        width: 100%;
                        margin: 0 auto;
                        padding: 0 0 30px 0;
                        font-size: 14px;
                        line-height: 24px;
                    }
                    .btn{
                        width: 40vw;
                        max-width: 150px;
                    }
                }
            }
        }
    }

    /*contect*/
.contact{
    p{
      display: block;
      margin-bottom: 80px;
      font-size: 20px;
      text-align: center;
    }
  }
  @media screen and (max-width: 767px) {
    .contact{
        p{
            margin-bottom: 80px;
            font-size: 16px;
        }
    }
  }
  
  /*footer*/
  footer{
    .contact_btn{
        display: none;
    }
  }