.top header .header_img {
  display: none;
}
.top header .header_inner nav ul li a {
  color: #333333;
}

@media screen and (max-width: 767px) {
  .top header .header_inner nav ul li a {
    color: white;
  }
  .top header .header_inner .sp_btn span {
    background-color: #333333;
  }
  .top header .header_inner .sp_btn span:before, .top header .header_inner .sp_btn span:after {
    background-color: #333333;
  }
}
.top {
  position: relative;
}
.top .top_img {
  width: 100%;
}
.top .top_logo {
  background: #000 no-repeat center;
  background-size: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 51vw;
  height: 100%;
  mask-image: url(../images/logo@2x.png);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url(../images/logo@2x.png);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}
.top .top_logo::before, .top .top_logo::after,
.top .top_logo .channel {
  background: inherit;
  background-size: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  mix-blend-mode: screen;
}
.top .top_logo::before::before, .top .top_logo::after::before,
.top .top_logo .channel::before {
  animation: glitch-before 3s linear infinite alternate both;
  content: "";
}
@keyframes glitch-before {
  0% {
    -webkit-clip-path: polygon(0% 66.541014727%, 100% 66.541014727%, 100% 72.7589622382%, 0% 72.7589622382%);
            clip-path: polygon(0% 66.541014727%, 100% 66.541014727%, 100% 72.7589622382%, 0% 72.7589622382%);
    transform: translate(6.0127406799%, -0.0678397291%);
  }
  2% {
    -webkit-clip-path: polygon(0% 60.8083512886%, 100% 60.8083512886%, 100% 69.4618438563%, 0% 69.4618438563%);
            clip-path: polygon(0% 60.8083512886%, 100% 60.8083512886%, 100% 69.4618438563%, 0% 69.4618438563%);
    transform: translate(1.2596757516%, 0.1456648004%);
  }
  4% {
    -webkit-clip-path: polygon(0% 47.531691088%, 100% 47.531691088%, 100% 50.3954477238%, 0% 50.3954477238%);
            clip-path: polygon(0% 47.531691088%, 100% 47.531691088%, 100% 50.3954477238%, 0% 50.3954477238%);
    transform: translate(-5.5220802606%, -0.0015301745%);
  }
  6% {
    -webkit-clip-path: polygon(0% 30.1646875181%, 100% 30.1646875181%, 100% 35.3689196501%, 0% 35.3689196501%);
            clip-path: polygon(0% 30.1646875181%, 100% 30.1646875181%, 100% 35.3689196501%, 0% 35.3689196501%);
    transform: translate(0.8859628176%, 0.4351670849%);
  }
  8% {
    -webkit-clip-path: polygon(0% 38.4516446885%, 100% 38.4516446885%, 100% 39.8817428636%, 0% 39.8817428636%);
            clip-path: polygon(0% 38.4516446885%, 100% 38.4516446885%, 100% 39.8817428636%, 0% 39.8817428636%);
    transform: translate(6.4959917556%, -0.201305669%);
  }
  10% {
    -webkit-clip-path: polygon(0% 38.345243907%, 100% 38.345243907%, 100% 42.1784403093%, 0% 42.1784403093%);
            clip-path: polygon(0% 38.345243907%, 100% 38.345243907%, 100% 42.1784403093%, 0% 42.1784403093%);
    transform: translate(7.1201339693%, -0.1601344391%);
  }
  12% {
    -webkit-clip-path: polygon(0% 2.4190695605%, 100% 2.4190695605%, 100% 10.6276228171%, 0% 10.6276228171%);
            clip-path: polygon(0% 2.4190695605%, 100% 2.4190695605%, 100% 10.6276228171%, 0% 10.6276228171%);
    transform: translate(-5.9402448303%, -0.0196859133%);
  }
  14% {
    -webkit-clip-path: polygon(0% 7.6142046459%, 100% 7.6142046459%, 100% 17.0763794933%, 0% 17.0763794933%);
            clip-path: polygon(0% 7.6142046459%, 100% 7.6142046459%, 100% 17.0763794933%, 0% 17.0763794933%);
    transform: translate(3.8896853563%, -0.323041035%);
  }
  16% {
    -webkit-clip-path: polygon(0% 8.9985810324%, 100% 8.9985810324%, 100% 13.3165609346%, 0% 13.3165609346%);
            clip-path: polygon(0% 8.9985810324%, 100% 8.9985810324%, 100% 13.3165609346%, 0% 13.3165609346%);
    transform: translate(-3.8295707311%, 0.4275547199%);
  }
  18% {
    -webkit-clip-path: polygon(0% 15.6262762921%, 100% 15.6262762921%, 100% 17.4466844617%, 0% 17.4466844617%);
            clip-path: polygon(0% 15.6262762921%, 100% 15.6262762921%, 100% 17.4466844617%, 0% 17.4466844617%);
    transform: translate(-5.1487997269%, 0.2194092883%);
  }
  20%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: none;
  }
}
.top .top_logo::before::after, .top .top_logo::after::after,
.top .top_logo .channel::after {
  animation: glitch-after 3s linear infinite alternate both;
  content: "";
}
@keyframes glitch-after {
  0% {
    -webkit-clip-path: polygon(0% 6.7084455146%, 100% 6.7084455146%, 100% 15.7872506411%, 0% 15.7872506411%);
            clip-path: polygon(0% 6.7084455146%, 100% 6.7084455146%, 100% 15.7872506411%, 0% 15.7872506411%);
    transform: translate(4.1094192795%, 0.2518318763%);
  }
  2% {
    -webkit-clip-path: polygon(0% 2.6818874053%, 100% 2.6818874053%, 100% 12.241126656%, 0% 12.241126656%);
            clip-path: polygon(0% 2.6818874053%, 100% 2.6818874053%, 100% 12.241126656%, 0% 12.241126656%);
    transform: translate(1.0138709912%, 0.3590782548%);
  }
  4% {
    -webkit-clip-path: polygon(0% 40.0037229575%, 100% 40.0037229575%, 100% 48.6263887254%, 0% 48.6263887254%);
            clip-path: polygon(0% 40.0037229575%, 100% 40.0037229575%, 100% 48.6263887254%, 0% 48.6263887254%);
    transform: translate(-1.8800072004%, -0.3481475562%);
  }
  6% {
    -webkit-clip-path: polygon(0% 3.554348603%, 100% 3.554348603%, 100% 9.6050883378%, 0% 9.6050883378%);
            clip-path: polygon(0% 3.554348603%, 100% 3.554348603%, 100% 9.6050883378%, 0% 9.6050883378%);
    transform: translate(5.99975081%, -0.0162310397%);
  }
  8% {
    -webkit-clip-path: polygon(0% 46.2723665195%, 100% 46.2723665195%, 100% 48.6491281771%, 0% 48.6491281771%);
            clip-path: polygon(0% 46.2723665195%, 100% 46.2723665195%, 100% 48.6491281771%, 0% 48.6491281771%);
    transform: translate(5.5789842453%, -0.3303491077%);
  }
  10% {
    -webkit-clip-path: polygon(0% 84.0382337867%, 100% 84.0382337867%, 100% 90.6578622429%, 0% 90.6578622429%);
            clip-path: polygon(0% 84.0382337867%, 100% 84.0382337867%, 100% 90.6578622429%, 0% 90.6578622429%);
    transform: translate(6.9384891975%, 0.0438163261%);
  }
  12% {
    -webkit-clip-path: polygon(0% 12.7406457091%, 100% 12.7406457091%, 100% 20.6373672828%, 0% 20.6373672828%);
            clip-path: polygon(0% 12.7406457091%, 100% 12.7406457091%, 100% 20.6373672828%, 0% 20.6373672828%);
    transform: translate(-3.4569136453%, -0.2641873729%);
  }
  14% {
    -webkit-clip-path: polygon(0% 87.8385638764%, 100% 87.8385638764%, 100% 97.4343605477%, 0% 97.4343605477%);
            clip-path: polygon(0% 87.8385638764%, 100% 87.8385638764%, 100% 97.4343605477%, 0% 97.4343605477%);
    transform: translate(4.4505897346%, -0.1733598694%);
  }
  16% {
    -webkit-clip-path: polygon(0% 63.2412015723%, 100% 63.2412015723%, 100% 71.8296152824%, 0% 71.8296152824%);
            clip-path: polygon(0% 63.2412015723%, 100% 63.2412015723%, 100% 71.8296152824%, 0% 71.8296152824%);
    transform: translate(6.4626131308%, -0.4958063133%);
  }
  18% {
    -webkit-clip-path: polygon(0% 44.0961986217%, 100% 44.0961986217%, 100% 49.6798331095%, 0% 49.6798331095%);
            clip-path: polygon(0% 44.0961986217%, 100% 44.0961986217%, 100% 49.6798331095%, 0% 49.6798331095%);
    transform: translate(-4.1071667576%, 0.1426229592%);
  }
  20%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: none;
  }
}
.top .top_logo .channel::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  mix-blend-mode: multiply;
}
.top .top_logo .r {
  animation: rgb-shift-r 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-r {
  0% {
    transform: translate(-1.0828043828%, 0.2158694342%);
  }
  2% {
    transform: translate(-0.2318668424%, 0.3184230439%);
  }
  4% {
    transform: translate(-0.6014022954%, 0.2990724168%);
  }
  6% {
    transform: translate(1.8912751304%, -0.1040721756%);
  }
  8% {
    transform: translate(-0.6671281883%, 0.1703412065%);
  }
  10% {
    transform: translate(1.1723853161%, -0.4887136955%);
  }
  12% {
    transform: translate(-1.5756641277%, 0.024168089%);
  }
  14% {
    transform: translate(-1.1783692062%, 0.2872304298%);
  }
  16% {
    transform: translate(-1.828942314%, 0.0055305074%);
  }
  18% {
    transform: translate(-0.1815814972%, 0.1281645697%);
  }
  20%, 100% {
    transform: none;
  }
}
.top .top_logo .r::before {
  background-color: #f00;
}
.top .top_logo .g {
  animation: rgb-shift-g 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-g {
  0% {
    transform: translate(-0.0732597976%, 0.3369513616%);
  }
  2% {
    transform: translate(-1.0030982145%, -0.4833767499%);
  }
  4% {
    transform: translate(1.9737147202%, -0.115467239%);
  }
  6% {
    transform: translate(-1.9549867534%, 0.4887225169%);
  }
  8% {
    transform: translate(-1.2086931218%, 0.1093365346%);
  }
  10% {
    transform: translate(-1.5699788577%, -0.057301409%);
  }
  12% {
    transform: translate(0.0119461605%, 0.1482013857%);
  }
  14% {
    transform: translate(-1.9901308314%, -0.2991955773%);
  }
  16% {
    transform: translate(0.5541413141%, 0.0118601411%);
  }
  18% {
    transform: translate(-1.3670615983%, 0.3544635108%);
  }
  20%, 100% {
    transform: none;
  }
}
.top .top_logo .g::before {
  background: #0f0;
}
.top .top_logo .b {
  animation: rgb-shift-b 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-b {
  0% {
    transform: translate(0.2148063307%, -0.2281401631%);
  }
  2% {
    transform: translate(1.0481862549%, -0.2995889533%);
  }
  4% {
    transform: translate(1.1855889479%, -0.0987668493%);
  }
  6% {
    transform: translate(-0.6128382877%, 0.3321604633%);
  }
  8% {
    transform: translate(-0.0512361797%, 0.0764026913%);
  }
  10% {
    transform: translate(-1.8365016482%, 0.0070676916%);
  }
  12% {
    transform: translate(-1.8335068205%, -0.1634822053%);
  }
  14% {
    transform: translate(1.8483751617%, -0.0690642827%);
  }
  16% {
    transform: translate(0.5819493479%, 0.0076670994%);
  }
  18% {
    transform: translate(0.7614710712%, 0.4106813485%);
  }
  20%, 100% {
    transform: none;
  }
}
.top .top_logo .b::before {
  background: #00f;
}
.top .top_triangle {
  position: absolute;
  top: 30.7%;
  left: 11.5%;
  transform: translate(-50%, -50%);
  width: 10vw;
}
.top .top_circle {
  position: absolute;
  bottom: -9.8%;
  left: 11.8%;
  transform: translate(-50%, -50%);
  width: 10vw;
}
.top .top_closs {
  position: absolute;
  bottom: 2.3%;
  left: 34.8%;
  transform: translate(-50%, -50%);
  width: 10vw;
}
.top .top_square {
  position: absolute;
  bottom: 14.5%;
  right: 17%;
  transform: translate(-50%, -50%);
  width: 10vw;
}
.top .top_w {
  position: absolute;
  bottom: 1%;
  left: 57%;
  transform: translate(-50%, -50%);
  width: 12vw;
}
.top #w .cls-1 {
  stroke: #FFFFEF;
  animation: blink 2s linear infinite;
}
.top #w .cls-1, .top #w .cls-2 {
  fill: none;
  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.top #w .cls-3 {
  opacity: 0.6;
  animation: neon 2s linear infinite;
}
.top #w .cls-4 {
  opacity: 0.4;
  animation: neon 2s linear infinite;
}
.top #w .cls-2 {
  stroke: #ff8c00;
  stroke-width: 2px;
}
@keyframes blink {
  81% {
    stroke: #FFFFEF;
  }
  82% {
    stroke: #333;
  }
  83% {
    stroke: #FFFFEF;
  }
  92% {
    stroke: #333;
  }
  92.5% {
    stroke: #FFFFEF;
  }
}
@keyframes neon {
  81% {
    opacity: 0.3;
  }
  82% {
    opacity: 0;
  }
  83% {
    opacity: 0.3;
  }
  92% {
    opacity: 0;
  }
  92.5% {
    opacity: 0.3;
  }
}
.top .top_a {
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12vw;
}
.top .top_s {
  position: absolute;
  bottom: -15.5%;
  left: 57.5%;
  transform: translate(-50%, -50%);
  width: 12vw;
}
.top .top_d {
  position: absolute;
  bottom: -15%;
  left: 65.5%;
  transform: translate(-50%, -50%);
  width: 12vw;
}
.top .sp_top {
  display: none;
}

@media screen and (max-width: 767px) {
  .top .top_img {
    display: none;
  }
  .top .sp_top {
    display: block;
  }
  .top .sp_img {
    display: block;
    width: 100vw;
  }
  .top .top-logo.sp_logo {
    background-color: #000;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 66.6vw;
  }
  .top .top_triangle, .top .top_circle, .top .top_closs, .top .top_square {
    width: 16.5vw;
  }
  .top .top_triangle {
    top: 20.1%;
    left: 18.7%;
  }
  .top .top_circle {
    top: 74.2%;
    left: 6.32%;
  }
  .top .top_closs {
    bottom: 1.5%;
    left: 31.3%;
  }
  .top .top_square {
    bottom: 10.4%;
    left: 56.3%;
  }
  .top .top_w {
    bottom: 2.5%;
    left: 77.6%;
    width: 15.5vw;
  }
  .top .top_a {
    bottom: -6.5%;
    left: 68.9%;
    width: 15vw;
  }
  .top .top_s {
    bottom: -7%;
    left: 81.5%;
    width: 15vw;
  }
  .top .top_d {
    bottom: -6.7%;
    left: 94%;
    width: 15vw;
  }
}
/*works*/
.works {
  margin: 120px 0 120px;
}
.works .works_inner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto 100px;
}
.works .works_inner .works_content {
  width: 400px;
  margin-bottom: 50px;
  overflow: hidden;
}
.works .works_inner .works_content .content_img {
  position: relative;
  width: 100%;
}
.works .works_inner .works_content .content_img:before {
  content: "";
  display: block;
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/read-more-hover@2x.png);
  background-size: cover;
  transition: top 0.35s;
}
.works .works_inner .works_content .content_text {
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  text-align: left;
}
.works .works_inner .works_content .content_text h4 {
  padding-bottom: 10px;
  color: #333333;
  font-size: 20px;
}
.works .works_inner .works_content .content_text .content_category {
  display: flex;
  justify-content: flex-start;
}
.works .works_inner .works_content .content_text .content_category .category_item {
  display: block;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #333333;
  border-radius: 10px;
  font-size: 14px;
  color: white;
}
.works .works_inner .works_content:hover .content_img:before {
  top: 0;
}
.works .works_inner .works_content:last-child {
  margin-bottom: 0;
}
.works .works_btn {
  display: block;
  width: 22vw;
  max-width: 300px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .works {
    margin: 40px auto 70px;
  }
  .works .works_inner {
    margin: 0 auto 30px;
  }
  .works .works_inner .works_content {
    margin-bottom: 20px;
  }
  .works .works_inner .works_content .content_text {
    padding: 15px 20px;
  }
  .works .works_inner .works_content .content_text h4 {
    font-size: 16px;
  }
  .works .works_inner .works_content .content_text .content_category .category_item {
    margin-right: 6px;
  }
  .works .works_btn {
    width: 40vw;
    min-width: 150px;
  }
}
/*skill*/
.skill {
  margin-bottom: 120px;
  background-color: #f28704;
}
.skill .piece_top {
  transform: scale(-1, 1) translateY(-1px);
}
.skill .piece_top_sp {
  display: none;
}
.skill h2 {
  margin: -120px 0 140px;
  color: #333333;
}
.skill ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto 70px;
  list-style: none;
}
.skill ul li .skill_icon {
  width: 15vw;
  max-width: 210px;
  margin: 0 auto;
  padding-bottom: 40px;
}
.skill ul li h3 {
  padding-bottom: 10px;
  font-family: "Silom";
  font-size: 24px;
  color: #333333;
  -webkit-text-stroke: 1px #fff;
  text-align: center;
}
.skill ul li p {
  padding-bottom: 40px;
  color: #333333;
  font-size: 14px;
  text-align: center;
}
.skill ul li .skill_text {
  width: 15vw;
  max-width: 210px;
  margin: 0 auto;
  color: #333333;
  line-height: 28px;
}
.skill .piece_bottom {
  transform: scale(1, -1) translateY(-1px);
}
.skill .piece_bottom_sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .skill {
    margin-bottom: 70px;
  }
  .skill .piece_top {
    display: none;
  }
  .skill .piece_top_sp {
    display: block;
    position: relative;
    top: -1px;
    width: 40.8%;
    margin: 0 0 0 auto;
    transform: scale(-1, 1);
  }
  .skill h2 {
    margin: 0 auto 30px;
  }
  .skill ul {
    margin: 0 auto 50px;
  }
  .skill ul li {
    width: 80vw;
    margin-bottom: 40px;
  }
  .skill ul li .skill_icon {
    width: 40vw;
    padding-bottom: 20px;
  }
  .skill ul li h3 {
    padding-bottom: 5px;
    font-size: 20px;
  }
  .skill ul li p {
    padding-bottom: 15px;
    font-size: 12px;
  }
  .skill ul li .skill_text {
    width: 100%;
    font-size: 15px;
    line-height: 26px;
  }
  .skill .piece_bottom {
    display: none;
  }
  .skill .piece_bottom_sp {
    display: block;
    position: relative;
    bottom: -1px;
    left: -1px;
    width: 40.8%;
    margin: 0 auto 0 0;
    transform: scale(1, -1);
  }
}
/*about*/
.about {
  margin: 0 auto 120px;
}
.about .about_inner {
  display: flex;
  justify-content: center;
}
.about .about_inner .about_img {
  width: 22%;
  max-width: 300px;
  padding-right: 7.3vw;
}
.about .about_inner .text_wrap {
  text-align: center;
}
.about .about_inner .text_wrap .text {
  width: 36vw;
  max-width: 486px;
  padding-bottom: 40px;
  font-size: 16px;
  line-height: 28px;
}
.about .about_inner .text_wrap .btn {
  display: block;
  width: 16vw;
  max-width: 220px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .about {
    margin: 0 auto 70px;
  }
  .about .about_inner {
    flex-direction: column;
    align-items: center;
  }
  .about .about_inner .about_img {
    width: 40vw;
    margin: 0 auto 20px;
    padding: 0;
  }
  .about .about_inner .text_wrap {
    width: 80%;
  }
  .about .about_inner .text_wrap .text {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 30px 0;
    font-size: 14px;
    line-height: 24px;
  }
  .about .about_inner .text_wrap .btn {
    width: 40vw;
    max-width: 150px;
  }
}
/*contect*/
.contact p {
  display: block;
  margin-bottom: 80px;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .contact p {
    margin-bottom: 80px;
    font-size: 16px;
  }
}
/*footer*/
footer .contact_btn {
  display: none;
}/*# sourceMappingURL=style.css.map */