.top header .header_img {
  display: none;
}
.top header .header_inner nav ul li a {
  color: #333333;
}

@media screen and (max-width: 767px) {
  .top header .header_inner nav ul li a {
    color: white;
  }
  .top header .header_inner .sp_btn span {
    background-color: #333333;
  }
  .top header .header_inner .sp_btn span:before, .top header .header_inner .sp_btn span:after {
    background-color: #333333;
  }
}
.top {
  position: relative;
}
.top .top_img {
  width: 100%;
}
.top .top_logo {
  background: #000 no-repeat center;
  background-size: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 51vw;
  height: 100%;
  mask-image: url(../images/logo@2x.png);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url(../images/logo@2x.png);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}
.top .top_logo::before, .top .top_logo::after,
.top .top_logo .channel {
  background: inherit;
  background-size: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  mix-blend-mode: screen;
}
.top .top_logo::before::before, .top .top_logo::after::before,
.top .top_logo .channel::before {
  animation: glitch-before 3s linear infinite alternate both;
  content: "";
}
@keyframes glitch-before {
  0% {
    -webkit-clip-path: polygon(0% 57.6501239402%, 100% 57.6501239402%, 100% 65.0408721885%, 0% 65.0408721885%);
            clip-path: polygon(0% 57.6501239402%, 100% 57.6501239402%, 100% 65.0408721885%, 0% 65.0408721885%);
    transform: translate(-4.4733482721%, 0.3611468458%);
  }
  2% {
    -webkit-clip-path: polygon(0% 33.4247739025%, 100% 33.4247739025%, 100% 39.0668838045%, 0% 39.0668838045%);
            clip-path: polygon(0% 33.4247739025%, 100% 33.4247739025%, 100% 39.0668838045%, 0% 39.0668838045%);
    transform: translate(7.4409087604%, 0.0474338527%);
  }
  4% {
    -webkit-clip-path: polygon(0% 87.316444661%, 100% 87.316444661%, 100% 93.7603697305%, 0% 93.7603697305%);
            clip-path: polygon(0% 87.316444661%, 100% 87.316444661%, 100% 93.7603697305%, 0% 93.7603697305%);
    transform: translate(-0.9159201096%, -0.3476739165%);
  }
  6% {
    -webkit-clip-path: polygon(0% 87.6996375872%, 100% 87.6996375872%, 100% 91.608065775%, 0% 91.608065775%);
            clip-path: polygon(0% 87.6996375872%, 100% 87.6996375872%, 100% 91.608065775%, 0% 91.608065775%);
    transform: translate(-7.9388071656%, -0.1664001908%);
  }
  8% {
    -webkit-clip-path: polygon(0% 89.8220265002%, 100% 89.8220265002%, 100% 92.6520801346%, 0% 92.6520801346%);
            clip-path: polygon(0% 89.8220265002%, 100% 89.8220265002%, 100% 92.6520801346%, 0% 92.6520801346%);
    transform: translate(4.6451244439%, -0.4208594663%);
  }
  10% {
    -webkit-clip-path: polygon(0% 10.9243342703%, 100% 10.9243342703%, 100% 13.152634897%, 0% 13.152634897%);
            clip-path: polygon(0% 10.9243342703%, 100% 10.9243342703%, 100% 13.152634897%, 0% 13.152634897%);
    transform: translate(2.3413822098%, 0.2971616143%);
  }
  12% {
    -webkit-clip-path: polygon(0% 54.6617025282%, 100% 54.6617025282%, 100% 62.3841901928%, 0% 62.3841901928%);
            clip-path: polygon(0% 54.6617025282%, 100% 54.6617025282%, 100% 62.3841901928%, 0% 62.3841901928%);
    transform: translate(2.4322451156%, 0.4858963367%);
  }
  14% {
    -webkit-clip-path: polygon(0% 86.0182680158%, 100% 86.0182680158%, 100% 91.484501652%, 0% 91.484501652%);
            clip-path: polygon(0% 86.0182680158%, 100% 86.0182680158%, 100% 91.484501652%, 0% 91.484501652%);
    transform: translate(3.7724899648%, -0.2899503752%);
  }
  16% {
    -webkit-clip-path: polygon(0% 70.023082217%, 100% 70.023082217%, 100% 77.9721281067%, 0% 77.9721281067%);
            clip-path: polygon(0% 70.023082217%, 100% 70.023082217%, 100% 77.9721281067%, 0% 77.9721281067%);
    transform: translate(1.2561485068%, 0.3373258747%);
  }
  18% {
    -webkit-clip-path: polygon(0% 75.7712736909%, 100% 75.7712736909%, 100% 81.7567991707%, 0% 81.7567991707%);
            clip-path: polygon(0% 75.7712736909%, 100% 75.7712736909%, 100% 81.7567991707%, 0% 81.7567991707%);
    transform: translate(-1.1751819291%, -0.4175705957%);
  }
  20%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: none;
  }
}
.top .top_logo::before::after, .top .top_logo::after::after,
.top .top_logo .channel::after {
  animation: glitch-after 3s linear infinite alternate both;
  content: "";
}
@keyframes glitch-after {
  0% {
    -webkit-clip-path: polygon(0% 31.583412161%, 100% 31.583412161%, 100% 36.2955782761%, 0% 36.2955782761%);
            clip-path: polygon(0% 31.583412161%, 100% 31.583412161%, 100% 36.2955782761%, 0% 36.2955782761%);
    transform: translate(-5.2572515336%, 0.1865435753%);
  }
  2% {
    -webkit-clip-path: polygon(0% 63.3196934405%, 100% 63.3196934405%, 100% 68.9661491603%, 0% 68.9661491603%);
            clip-path: polygon(0% 63.3196934405%, 100% 63.3196934405%, 100% 68.9661491603%, 0% 68.9661491603%);
    transform: translate(-1.7631963196%, 0.080862099%);
  }
  4% {
    -webkit-clip-path: polygon(0% 56.1212905479%, 100% 56.1212905479%, 100% 60.7989246082%, 0% 60.7989246082%);
            clip-path: polygon(0% 56.1212905479%, 100% 56.1212905479%, 100% 60.7989246082%, 0% 60.7989246082%);
    transform: translate(-0.9757966447%, -0.3647130456%);
  }
  6% {
    -webkit-clip-path: polygon(0% 9.263162079%, 100% 9.263162079%, 100% 15.9996932745%, 0% 15.9996932745%);
            clip-path: polygon(0% 9.263162079%, 100% 9.263162079%, 100% 15.9996932745%, 0% 15.9996932745%);
    transform: translate(-0.2532410433%, 0.2883532127%);
  }
  8% {
    -webkit-clip-path: polygon(0% 0.3278485371%, 100% 0.3278485371%, 100% 1.9329643793%, 0% 1.9329643793%);
            clip-path: polygon(0% 0.3278485371%, 100% 0.3278485371%, 100% 1.9329643793%, 0% 1.9329643793%);
    transform: translate(-1.6245852124%, 0.3271333745%);
  }
  10% {
    -webkit-clip-path: polygon(0% 12.6343802026%, 100% 12.6343802026%, 100% 16.0893585953%, 0% 16.0893585953%);
            clip-path: polygon(0% 12.6343802026%, 100% 12.6343802026%, 100% 16.0893585953%, 0% 16.0893585953%);
    transform: translate(-3.8321663995%, 0.1161401992%);
  }
  12% {
    -webkit-clip-path: polygon(0% 1.4465996033%, 100% 1.4465996033%, 100% 10.9192723851%, 0% 10.9192723851%);
            clip-path: polygon(0% 1.4465996033%, 100% 1.4465996033%, 100% 10.9192723851%, 0% 10.9192723851%);
    transform: translate(3.1789517981%, -0.3303768147%);
  }
  14% {
    -webkit-clip-path: polygon(0% 51.9442395771%, 100% 51.9442395771%, 100% 59.1277882444%, 0% 59.1277882444%);
            clip-path: polygon(0% 51.9442395771%, 100% 51.9442395771%, 100% 59.1277882444%, 0% 59.1277882444%);
    transform: translate(1.4092877707%, -0.4705431168%);
  }
  16% {
    -webkit-clip-path: polygon(0% 59.681481118%, 100% 59.681481118%, 100% 68.5897247464%, 0% 68.5897247464%);
            clip-path: polygon(0% 59.681481118%, 100% 59.681481118%, 100% 68.5897247464%, 0% 68.5897247464%);
    transform: translate(7.2516798765%, 0.0430433303%);
  }
  18% {
    -webkit-clip-path: polygon(0% 56.6100583139%, 100% 56.6100583139%, 100% 59.821467851%, 0% 59.821467851%);
            clip-path: polygon(0% 56.6100583139%, 100% 56.6100583139%, 100% 59.821467851%, 0% 59.821467851%);
    transform: translate(6.1290120925%, 0.2834930515%);
  }
  20%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: none;
  }
}
.top .top_logo .channel::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  mix-blend-mode: multiply;
}
.top .top_logo .r {
  animation: rgb-shift-r 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-r {
  0% {
    transform: translate(0.5114112402%, 0.0847873333%);
  }
  2% {
    transform: translate(0.3366158614%, -0.1039813285%);
  }
  4% {
    transform: translate(-0.4933244874%, 0.4476152619%);
  }
  6% {
    transform: translate(-1.8493616071%, 0.4276993379%);
  }
  8% {
    transform: translate(-0.6188536943%, -0.3666469347%);
  }
  10% {
    transform: translate(1.7894656821%, -0.2652081341%);
  }
  12% {
    transform: translate(1.0152783662%, 0.2165664786%);
  }
  14% {
    transform: translate(0.0363731195%, -0.1810088882%);
  }
  16% {
    transform: translate(-0.3265582456%, 0.3766883439%);
  }
  18% {
    transform: translate(1.7752344514%, -0.3805220055%);
  }
  20%, 100% {
    transform: none;
  }
}
.top .top_logo .r::before {
  background-color: #f00;
}
.top .top_logo .g {
  animation: rgb-shift-g 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-g {
  0% {
    transform: translate(0.0449477581%, 0.1690490936%);
  }
  2% {
    transform: translate(-1.6293877398%, -0.3720677363%);
  }
  4% {
    transform: translate(-0.3367860968%, 0.1886743284%);
  }
  6% {
    transform: translate(0.3018242297%, -0.1230836793%);
  }
  8% {
    transform: translate(-0.8260423093%, 0.3205575912%);
  }
  10% {
    transform: translate(-1.046714%, 0.1895473448%);
  }
  12% {
    transform: translate(0.3913274194%, 0.2369486788%);
  }
  14% {
    transform: translate(1.5607022164%, 0.0394278566%);
  }
  16% {
    transform: translate(0.990646762%, 0.1115784244%);
  }
  18% {
    transform: translate(1.4503140434%, 0.2541683322%);
  }
  20%, 100% {
    transform: none;
  }
}
.top .top_logo .g::before {
  background: #0f0;
}
.top .top_logo .b {
  animation: rgb-shift-b 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-b {
  0% {
    transform: translate(0.8207918176%, -0.3682044803%);
  }
  2% {
    transform: translate(1.2563768724%, 0.2041753854%);
  }
  4% {
    transform: translate(-1.6075618319%, -0.496271887%);
  }
  6% {
    transform: translate(0.3846876649%, 0.1204236777%);
  }
  8% {
    transform: translate(1.1003607514%, 0.1547369953%);
  }
  10% {
    transform: translate(-0.1444491908%, 0.252457031%);
  }
  12% {
    transform: translate(-1.9340077893%, 0.4321539599%);
  }
  14% {
    transform: translate(1.8205581272%, -0.0613137677%);
  }
  16% {
    transform: translate(1.7990542189%, 0.1745742782%);
  }
  18% {
    transform: translate(-0.0919040934%, 0.4536637229%);
  }
  20%, 100% {
    transform: none;
  }
}
.top .top_logo .b::before {
  background: #00f;
}
.top #tri {
  position: absolute;
  top: 30.7%;
  left: 11.5%;
  transform: translate(-50%, -50%);
  width: 10vw;
}
.top #tri .cls-2 {
  animation: blink 2s linear infinite;
}
.top #tri .cls-3 {
  animation: neon 2s linear infinite;
}
@keyframes blink {
  81% {
    fill: #efe;
  }
  82% {
    fill: #333;
  }
  83% {
    fill: #efe;
  }
  92% {
    fill: #333;
  }
  92.5% {
    fill: #efe;
  }
}
@keyframes neon {
  81% {
    opacity: 0.3;
  }
  82% {
    opacity: 0;
  }
  83% {
    opacity: 0.3;
  }
  92% {
    opacity: 0;
  }
  92.5% {
    opacity: 0.3;
  }
}
.top .top_circle {
  position: absolute;
  bottom: -9.8%;
  left: 11.8%;
  transform: translate(-50%, -50%);
  width: 10vw;
}
.top .top_closs {
  position: absolute;
  bottom: 14.4%;
  left: 34.8%;
  transform: translate(-50%, -50%);
  width: 10vw;
}
.top .top_square {
  position: absolute;
  bottom: 14.5%;
  right: 17%;
  transform: translate(-50%, -50%);
  width: 10vw;
}
.top .top_w {
  position: absolute;
  bottom: 14.8%;
  left: 58%;
  transform: translate(-50%, -50%);
  width: 3.5vw;
}
.top .top_a {
  position: absolute;
  bottom: -3px;
  left: 49.9%;
  transform: translate(-50%, -50%);
  width: 2.5vw;
}
.top .top_s {
  position: absolute;
  bottom: 0%;
  left: 57.4%;
  transform: translate(-50%, -50%);
  width: 2vw;
}
.top .top_d {
  position: absolute;
  bottom: 7px;
  left: 65.3%;
  transform: translate(-50%, -50%);
  width: 2vw;
}
.top .sp_top {
  display: none;
}

@media screen and (max-width: 767px) {
  .top .top_img {
    display: none;
  }
  .top .sp_top {
    display: block;
  }
  .top .sp_img {
    display: block;
    width: 100vw;
  }
  .top .top-logo.sp_logo {
    background-color: #000;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 66.6vw;
  }
  .top #tri, .top .top_circle, .top .top_closs, .top .top_square {
    width: 16.5vw;
  }
  .top #tri {
    top: 20.1%;
    left: 18.7%;
  }
  .top .top_circle {
    top: 74.2%;
    left: 6.32%;
  }
  .top .top_closs {
    bottom: 1.5%;
    left: 31.3%;
  }
  .top .top_square {
    bottom: 10.4%;
    left: 56.3%;
  }
  .top .top_w {
    bottom: 9.3%;
    left: 81.6%;
    width: 5.5vw;
  }
  .top .top_a {
    bottom: 0.5%;
    left: 68.7%;
    width: 3.5vw;
  }
  .top .top_s {
    bottom: 0.3%;
    left: 80.7%;
    width: 3vw;
  }
  .top .top_d {
    bottom: 0.3%;
    left: 93.3%;
    width: 3.5vw;
  }
}
/*works*/
.works {
  margin: 120px 0 120px;
}
.works .works_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto 100px;
}
.works .works_inner .works_content {
  width: 400px;
  margin-bottom: 50px;
  overflow: hidden;
}
.works .works_inner .works_content .content_img {
  position: relative;
  width: 100%;
}
.works .works_inner .works_content .content_img:before {
  content: "";
  display: block;
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/read-more-hover@2x.png);
  background-size: cover;
  transition: top 0.35s;
}
.works .works_inner .works_content .content_text {
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  text-align: left;
}
.works .works_inner .works_content .content_text h4 {
  padding-bottom: 10px;
  color: #333333;
  font-size: 20px;
}
.works .works_inner .works_content .content_text .content_category {
  display: flex;
  justify-content: flex-start;
}
.works .works_inner .works_content .content_text .content_category .category_item {
  display: block;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #333333;
  border-radius: 10px;
  font-size: 14px;
  color: white;
}
.works .works_inner .works_content:hover .content_img:before {
  top: 0;
}
.works .works_inner .works_content:last-child {
  margin-bottom: 0;
}
.works .works_btn {
  display: block;
  width: 22vw;
  max-width: 300px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .works {
    margin: 40px auto 70px;
  }
  .works .works_inner {
    margin: 0 auto 30px;
  }
  .works .works_inner .works_content {
    margin-bottom: 20px;
  }
  .works .works_inner .works_content .content_text {
    padding: 15px 20px;
  }
  .works .works_inner .works_content .content_text h4 {
    font-size: 16px;
  }
  .works .works_inner .works_content .content_text .content_category .category_item {
    margin-right: 6px;
  }
  .works .works_btn {
    width: 40vw;
    min-width: 150px;
  }
}
/*skill*/
.skill {
  margin-bottom: 120px;
  background-color: #f28704;
}
.skill .piece_top {
  transform: scale(-1, 1) translateY(-1px);
}
.skill .piece_top_sp {
  display: none;
}
.skill h2 {
  margin: -120px 0 140px;
  color: #333333;
}
.skill ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto 70px;
  list-style: none;
}
.skill ul li .skill_icon {
  width: 15vw;
  max-width: 210px;
  margin: 0 auto;
  padding-bottom: 40px;
}
.skill ul li h3 {
  padding-bottom: 10px;
  font-family: "Silom";
  font-size: 24px;
  color: #333333;
  -webkit-text-stroke: 1px #fff;
  text-align: center;
}
.skill ul li p {
  padding-bottom: 40px;
  color: #333333;
  font-size: 14px;
  text-align: center;
}
.skill ul li .skill_text {
  width: 15vw;
  max-width: 210px;
  margin: 0 auto;
  color: #333333;
  line-height: 28px;
}
.skill .piece_bottom {
  transform: scale(1, -1) translateY(-1px);
}
.skill .piece_bottom_sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .skill {
    margin-bottom: 70px;
  }
  .skill .piece_top {
    display: none;
  }
  .skill .piece_top_sp {
    display: block;
    position: relative;
    top: -1px;
    width: 40.8%;
    margin: 0 0 0 auto;
    transform: scale(-1, 1);
  }
  .skill h2 {
    margin: 0 auto 30px;
  }
  .skill ul {
    margin: 0 auto 50px;
  }
  .skill ul li {
    width: 80vw;
    margin-bottom: 40px;
  }
  .skill ul li .skill_icon {
    width: 40vw;
    padding-bottom: 20px;
  }
  .skill ul li h3 {
    padding-bottom: 5px;
    font-size: 20px;
  }
  .skill ul li p {
    padding-bottom: 15px;
    font-size: 12px;
  }
  .skill ul li .skill_text {
    width: 100%;
    font-size: 15px;
    line-height: 26px;
  }
  .skill .piece_bottom {
    display: none;
  }
  .skill .piece_bottom_sp {
    display: block;
    position: relative;
    bottom: -1px;
    left: -1px;
    width: 40.8%;
    margin: 0 auto 0 0;
    transform: scale(1, -1);
  }
}
/*about*/
.about {
  margin: 0 auto 120px;
}
.about .about_inner {
  display: flex;
  justify-content: center;
}
.about .about_inner .about_img {
  width: 22%;
  max-width: 300px;
  padding-right: 7.3vw;
}
.about .about_inner .text_wrap {
  text-align: center;
}
.about .about_inner .text_wrap .text {
  width: 36vw;
  max-width: 486px;
  padding-bottom: 40px;
  font-size: 16px;
  line-height: 28px;
}
.about .about_inner .text_wrap .btn {
  display: block;
  width: 16vw;
  max-width: 220px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .about {
    margin: 0 auto 70px;
  }
  .about .about_inner {
    flex-direction: column;
    align-items: center;
  }
  .about .about_inner .about_img {
    width: 40vw;
    margin: 0 auto 20px;
    padding: 0;
  }
  .about .about_inner .text_wrap {
    width: 80%;
  }
  .about .about_inner .text_wrap .text {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 30px 0;
    font-size: 14px;
    line-height: 24px;
  }
  .about .about_inner .text_wrap .btn {
    width: 40vw;
    max-width: 150px;
  }
}
/*contect*/
.contact p {
  display: block;
  margin-bottom: 80px;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .contact p {
    margin-bottom: 80px;
    font-size: 16px;
  }
}
/*footer*/
footer .contact_btn {
  display: none;
}/*# sourceMappingURL=style.css.map */