.top header .header_img {
  display: none;
}
.top header .header_inner nav ul li a {
  color: #333333;
}

@media screen and (max-width: 767px) {
  .top header .header_inner nav ul li a {
    color: white;
  }
  .top header .header_inner .sp_btn span {
    background-color: #333333;
  }
  .top header .header_inner .sp_btn span:before, .top header .header_inner .sp_btn span:after {
    background-color: #333333;
  }
}
.top {
  position: relative;
}
.top .top_img {
  width: 100%;
}
.top .top_logo {
  background: #000 no-repeat center;
  background-size: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 51vw;
  height: 100%;
  mask-image: url(../images/logo@2x.png);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url(../images/logo@2x.png);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}
.top .top_logo::before, .top .top_logo::after,
.top .top_logo .channel {
  background: inherit;
  background-size: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  mix-blend-mode: screen;
}
.top .top_logo::before::before, .top .top_logo::after::before,
.top .top_logo .channel::before {
  animation: glitch-before 3s linear infinite alternate both;
  content: "";
}
@keyframes glitch-before {
  0% {
    -webkit-clip-path: polygon(0% 48.5132953734%, 100% 48.5132953734%, 100% 56.000898906%, 0% 56.000898906%);
            clip-path: polygon(0% 48.5132953734%, 100% 48.5132953734%, 100% 56.000898906%, 0% 56.000898906%);
    transform: translate(-2.6984226283%, 0.0966607877%);
  }
  2% {
    -webkit-clip-path: polygon(0% 27.6698560717%, 100% 27.6698560717%, 100% 33.7634420985%, 0% 33.7634420985%);
            clip-path: polygon(0% 27.6698560717%, 100% 27.6698560717%, 100% 33.7634420985%, 0% 33.7634420985%);
    transform: translate(-6.7395385915%, -0.3907796595%);
  }
  4% {
    -webkit-clip-path: polygon(0% 59.3715511317%, 100% 59.3715511317%, 100% 67.302109355%, 0% 67.302109355%);
            clip-path: polygon(0% 59.3715511317%, 100% 59.3715511317%, 100% 67.302109355%, 0% 67.302109355%);
    transform: translate(1.4251708616%, -0.4163542658%);
  }
  6% {
    -webkit-clip-path: polygon(0% 77.2568501324%, 100% 77.2568501324%, 100% 79.9818120081%, 0% 79.9818120081%);
            clip-path: polygon(0% 77.2568501324%, 100% 77.2568501324%, 100% 79.9818120081%, 0% 79.9818120081%);
    transform: translate(-3.9132620417%, 0.0983909263%);
  }
  8% {
    -webkit-clip-path: polygon(0% 51.6669447712%, 100% 51.6669447712%, 100% 56.147453657%, 0% 56.147453657%);
            clip-path: polygon(0% 51.6669447712%, 100% 51.6669447712%, 100% 56.147453657%, 0% 56.147453657%);
    transform: translate(4.0210708501%, 0.1451339752%);
  }
  10% {
    -webkit-clip-path: polygon(0% 14.2546030776%, 100% 14.2546030776%, 100% 17.6827197636%, 0% 17.6827197636%);
            clip-path: polygon(0% 14.2546030776%, 100% 14.2546030776%, 100% 17.6827197636%, 0% 17.6827197636%);
    transform: translate(1.2560996526%, 0.0242418457%);
  }
  12% {
    -webkit-clip-path: polygon(0% 18.1782653108%, 100% 18.1782653108%, 100% 24.0074970665%, 0% 24.0074970665%);
            clip-path: polygon(0% 18.1782653108%, 100% 18.1782653108%, 100% 24.0074970665%, 0% 24.0074970665%);
    transform: translate(6.732849727%, -0.3843006494%);
  }
  14% {
    -webkit-clip-path: polygon(0% 52.8096096246%, 100% 52.8096096246%, 100% 57.9917581893%, 0% 57.9917581893%);
            clip-path: polygon(0% 52.8096096246%, 100% 52.8096096246%, 100% 57.9917581893%, 0% 57.9917581893%);
    transform: translate(5.6329884148%, -0.3491286587%);
  }
  16% {
    -webkit-clip-path: polygon(0% 36.1640160413%, 100% 36.1640160413%, 100% 40.7832967801%, 0% 40.7832967801%);
            clip-path: polygon(0% 36.1640160413%, 100% 36.1640160413%, 100% 40.7832967801%, 0% 40.7832967801%);
    transform: translate(2.4179604538%, 0.4235869852%);
  }
  18% {
    -webkit-clip-path: polygon(0% 71.610866249%, 100% 71.610866249%, 100% 76.1917764935%, 0% 76.1917764935%);
            clip-path: polygon(0% 71.610866249%, 100% 71.610866249%, 100% 76.1917764935%, 0% 76.1917764935%);
    transform: translate(-3.7889691812%, 0.3863912543%);
  }
  20%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: none;
  }
}
.top .top_logo::before::after, .top .top_logo::after::after,
.top .top_logo .channel::after {
  animation: glitch-after 3s linear infinite alternate both;
  content: "";
}
@keyframes glitch-after {
  0% {
    -webkit-clip-path: polygon(0% 41.7411692949%, 100% 41.7411692949%, 100% 45.6443712186%, 0% 45.6443712186%);
            clip-path: polygon(0% 41.7411692949%, 100% 41.7411692949%, 100% 45.6443712186%, 0% 45.6443712186%);
    transform: translate(-4.6875609099%, 0.2173127913%);
  }
  2% {
    -webkit-clip-path: polygon(0% 77.6882998496%, 100% 77.6882998496%, 100% 87.5955067753%, 0% 87.5955067753%);
            clip-path: polygon(0% 77.6882998496%, 100% 77.6882998496%, 100% 87.5955067753%, 0% 87.5955067753%);
    transform: translate(-5.022745028%, -0.0972401249%);
  }
  4% {
    -webkit-clip-path: polygon(0% 88.1450882649%, 100% 88.1450882649%, 100% 97.5682174676%, 0% 97.5682174676%);
            clip-path: polygon(0% 88.1450882649%, 100% 88.1450882649%, 100% 97.5682174676%, 0% 97.5682174676%);
    transform: translate(1.2578401644%, 0.1671430848%);
  }
  6% {
    -webkit-clip-path: polygon(0% 80.7498427767%, 100% 80.7498427767%, 100% 87.3093880982%, 0% 87.3093880982%);
            clip-path: polygon(0% 80.7498427767%, 100% 80.7498427767%, 100% 87.3093880982%, 0% 87.3093880982%);
    transform: translate(-7.6761007403%, -0.0922424852%);
  }
  8% {
    -webkit-clip-path: polygon(0% 84.1689796156%, 100% 84.1689796156%, 100% 92.2469583166%, 0% 92.2469583166%);
            clip-path: polygon(0% 84.1689796156%, 100% 84.1689796156%, 100% 92.2469583166%, 0% 92.2469583166%);
    transform: translate(-7.3261028755%, 0.2471096123%);
  }
  10% {
    -webkit-clip-path: polygon(0% 66.0453940043%, 100% 66.0453940043%, 100% 73.1992898631%, 0% 73.1992898631%);
            clip-path: polygon(0% 66.0453940043%, 100% 66.0453940043%, 100% 73.1992898631%, 0% 73.1992898631%);
    transform: translate(0.4644290486%, 0.0092174607%);
  }
  12% {
    -webkit-clip-path: polygon(0% 35.6299106951%, 100% 35.6299106951%, 100% 36.8040299309%, 0% 36.8040299309%);
            clip-path: polygon(0% 35.6299106951%, 100% 35.6299106951%, 100% 36.8040299309%, 0% 36.8040299309%);
    transform: translate(-3.6117131143%, 0.1259674891%);
  }
  14% {
    -webkit-clip-path: polygon(0% 30.7880011128%, 100% 30.7880011128%, 100% 37.7579840136%, 0% 37.7579840136%);
            clip-path: polygon(0% 30.7880011128%, 100% 30.7880011128%, 100% 37.7579840136%, 0% 37.7579840136%);
    transform: translate(-0.846115975%, -0.0319931896%);
  }
  16% {
    -webkit-clip-path: polygon(0% 63.9908412922%, 100% 63.9908412922%, 100% 69.2815825691%, 0% 69.2815825691%);
            clip-path: polygon(0% 63.9908412922%, 100% 63.9908412922%, 100% 69.2815825691%, 0% 69.2815825691%);
    transform: translate(-5.1658365629%, 0.2525032274%);
  }
  18% {
    -webkit-clip-path: polygon(0% 64.0489020682%, 100% 64.0489020682%, 100% 69.8098197919%, 0% 69.8098197919%);
            clip-path: polygon(0% 64.0489020682%, 100% 64.0489020682%, 100% 69.8098197919%, 0% 69.8098197919%);
    transform: translate(6.110253934%, -0.4566180195%);
  }
  20%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: none;
  }
}
.top .top_logo .channel::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  mix-blend-mode: multiply;
}
.top .top_logo .r {
  animation: rgb-shift-r 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-r {
  0% {
    transform: translate(-1.6576333103%, -0.0659884615%);
  }
  2% {
    transform: translate(-0.7885130803%, -0.1075424818%);
  }
  4% {
    transform: translate(-0.7282602925%, -0.0473197368%);
  }
  6% {
    transform: translate(-1.0600351716%, -0.3461691846%);
  }
  8% {
    transform: translate(0.3719656701%, -0.1610453248%);
  }
  10% {
    transform: translate(1.9406720348%, -0.3561610514%);
  }
  12% {
    transform: translate(-0.5545666136%, -0.1152433035%);
  }
  14% {
    transform: translate(1.4491710109%, 0.183787831%);
  }
  16% {
    transform: translate(1.3530367113%, 0.4238801697%);
  }
  18% {
    transform: translate(-1.3071174207%, 0.0832490127%);
  }
  20%, 100% {
    transform: none;
  }
}
.top .top_logo .r::before {
  background-color: #f00;
}
.top .top_logo .g {
  animation: rgb-shift-g 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-g {
  0% {
    transform: translate(0.1077390586%, -0.1151383244%);
  }
  2% {
    transform: translate(1.2067843254%, -0.4775009553%);
  }
  4% {
    transform: translate(0.4993187618%, -0.0183695697%);
  }
  6% {
    transform: translate(1.1368537778%, -0.2718178584%);
  }
  8% {
    transform: translate(0.4405333672%, 0.1994695763%);
  }
  10% {
    transform: translate(1.6260007754%, 0.2681650667%);
  }
  12% {
    transform: translate(0.5062110663%, -0.1484175172%);
  }
  14% {
    transform: translate(-0.3572206041%, -0.4531321261%);
  }
  16% {
    transform: translate(1.3813675543%, 0.326266408%);
  }
  18% {
    transform: translate(1.8024086816%, 0.2909543415%);
  }
  20%, 100% {
    transform: none;
  }
}
.top .top_logo .g::before {
  background: #0f0;
}
.top .top_logo .b {
  animation: rgb-shift-b 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-b {
  0% {
    transform: translate(0.5594507196%, -0.1116941166%);
  }
  2% {
    transform: translate(0.2284285095%, 0.1649910546%);
  }
  4% {
    transform: translate(0.2000039377%, -0.4333102443%);
  }
  6% {
    transform: translate(-0.6961575473%, 0.2538453949%);
  }
  8% {
    transform: translate(-1.1811353417%, 0.2552231801%);
  }
  10% {
    transform: translate(0.2792975397%, -0.3176372656%);
  }
  12% {
    transform: translate(1.404511643%, 0.4738621777%);
  }
  14% {
    transform: translate(0.5220787558%, 0.0426122932%);
  }
  16% {
    transform: translate(0.6736195099%, 0.1552475124%);
  }
  18% {
    transform: translate(1.4677123154%, -0.3385091633%);
  }
  20%, 100% {
    transform: none;
  }
}
.top .top_logo .b::before {
  background: #00f;
}
.top .top_triangle {
  position: absolute;
  top: 30.7%;
  left: 11.5%;
  transform: translate(-50%, -50%);
  width: 10vw;
}
.top .top_circle {
  position: absolute;
  bottom: -9.8%;
  left: 11.8%;
  transform: translate(-50%, -50%);
  width: 10vw;
}
.top .top_closs {
  position: absolute;
  bottom: 2.3%;
  left: 34.8%;
  transform: translate(-50%, -50%);
  width: 10vw;
}
.top .top_square {
  position: absolute;
  bottom: 14.5%;
  right: 17%;
  transform: translate(-50%, -50%);
  width: 10vw;
}
.top .top_w {
  position: absolute;
  bottom: 1%;
  left: 57%;
  transform: translate(-50%, -50%);
  width: 12vw;
}
.top #w .cls-1 {
  stroke: #FFFFEF;
  animation: blink 2s linear infinite;
}
.top #w .cls-1, .top #w .cls-2 {
  fill: none;
  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.top #w .cls-3 {
  opacity: 0.6;
  animation: neon 2s linear infinite;
}
.top #w .cls-4 {
  opacity: 0.4;
  animation: neon 2s linear infinite;
}
.top #w .cls-2 {
  stroke: #ff8c00;
  stroke-width: 2px;
}
@keyframes blink {
  81% {
    stroke: #FFFFEF;
  }
  82% {
    stroke: #333;
  }
  83% {
    stroke: #FFFFEF;
  }
  92% {
    stroke: #333;
  }
  92.5% {
    stroke: #FFFFEF;
  }
}
@keyframes neon {
  81% {
    opacity: 0.3;
  }
  82% {
    opacity: 0;
  }
  83% {
    opacity: 0.3;
  }
  92% {
    opacity: 0;
  }
  92.5% {
    opacity: 0.3;
  }
}
.top .top_a {
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12vw;
}
.top .top_s {
  position: absolute;
  bottom: -15.5%;
  left: 57.5%;
  transform: translate(-50%, -50%);
  width: 12vw;
}
.top .top_d {
  position: absolute;
  bottom: -15%;
  left: 65.5%;
  transform: translate(-50%, -50%);
  width: 12vw;
}
.top .sp_top {
  display: none;
}

@media screen and (max-width: 767px) {
  .top .top_img {
    display: none;
  }
  .top .sp_top {
    display: block;
  }
  .top .sp_img {
    display: block;
    width: 100vw;
  }
  .top .top-logo.sp_logo {
    background-color: #000;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 66.6vw;
  }
  .top #tri, .top .top_circle, .top .top_closs, .top .top_square {
    width: 16.5vw;
  }
  .top #tri {
    top: 20.1%;
    left: 18.7%;
  }
  .top .top_circle {
    top: 74.2%;
    left: 6.32%;
  }
  .top .top_closs {
    bottom: 1.5%;
    left: 31.3%;
  }
  .top .top_square {
    bottom: 10.4%;
    left: 56.3%;
  }
  .top .top_w {
    bottom: 9.3%;
    left: 81.6%;
    width: 5.5vw;
  }
  .top .top_a {
    bottom: 0.5%;
    left: 68.7%;
    width: 3.5vw;
  }
  .top .top_s {
    bottom: 0.3%;
    left: 80.7%;
    width: 3vw;
  }
  .top .top_d {
    bottom: 0.3%;
    left: 93.3%;
    width: 3.5vw;
  }
}
/*works*/
.works {
  margin: 120px 0 120px;
}
.works .works_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto 100px;
}
.works .works_inner .works_content {
  width: 400px;
  margin-bottom: 50px;
  overflow: hidden;
}
.works .works_inner .works_content .content_img {
  position: relative;
  width: 100%;
}
.works .works_inner .works_content .content_img:before {
  content: "";
  display: block;
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/read-more-hover@2x.png);
  background-size: cover;
  transition: top 0.35s;
}
.works .works_inner .works_content .content_text {
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  text-align: left;
}
.works .works_inner .works_content .content_text h4 {
  padding-bottom: 10px;
  color: #333333;
  font-size: 20px;
}
.works .works_inner .works_content .content_text .content_category {
  display: flex;
  justify-content: flex-start;
}
.works .works_inner .works_content .content_text .content_category .category_item {
  display: block;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #333333;
  border-radius: 10px;
  font-size: 14px;
  color: white;
}
.works .works_inner .works_content:hover .content_img:before {
  top: 0;
}
.works .works_inner .works_content:last-child {
  margin-bottom: 0;
}
.works .works_btn {
  display: block;
  width: 22vw;
  max-width: 300px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .works {
    margin: 40px auto 70px;
  }
  .works .works_inner {
    margin: 0 auto 30px;
  }
  .works .works_inner .works_content {
    margin-bottom: 20px;
  }
  .works .works_inner .works_content .content_text {
    padding: 15px 20px;
  }
  .works .works_inner .works_content .content_text h4 {
    font-size: 16px;
  }
  .works .works_inner .works_content .content_text .content_category .category_item {
    margin-right: 6px;
  }
  .works .works_btn {
    width: 40vw;
    min-width: 150px;
  }
}
/*skill*/
.skill {
  margin-bottom: 120px;
  background-color: #f28704;
}
.skill .piece_top {
  transform: scale(-1, 1) translateY(-1px);
}
.skill .piece_top_sp {
  display: none;
}
.skill h2 {
  margin: -120px 0 140px;
  color: #333333;
}
.skill ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto 70px;
  list-style: none;
}
.skill ul li .skill_icon {
  width: 15vw;
  max-width: 210px;
  margin: 0 auto;
  padding-bottom: 40px;
}
.skill ul li h3 {
  padding-bottom: 10px;
  font-family: "Silom";
  font-size: 24px;
  color: #333333;
  -webkit-text-stroke: 1px #fff;
  text-align: center;
}
.skill ul li p {
  padding-bottom: 40px;
  color: #333333;
  font-size: 14px;
  text-align: center;
}
.skill ul li .skill_text {
  width: 15vw;
  max-width: 210px;
  margin: 0 auto;
  color: #333333;
  line-height: 28px;
}
.skill .piece_bottom {
  transform: scale(1, -1) translateY(-1px);
}
.skill .piece_bottom_sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .skill {
    margin-bottom: 70px;
  }
  .skill .piece_top {
    display: none;
  }
  .skill .piece_top_sp {
    display: block;
    position: relative;
    top: -1px;
    width: 40.8%;
    margin: 0 0 0 auto;
    transform: scale(-1, 1);
  }
  .skill h2 {
    margin: 0 auto 30px;
  }
  .skill ul {
    margin: 0 auto 50px;
  }
  .skill ul li {
    width: 80vw;
    margin-bottom: 40px;
  }
  .skill ul li .skill_icon {
    width: 40vw;
    padding-bottom: 20px;
  }
  .skill ul li h3 {
    padding-bottom: 5px;
    font-size: 20px;
  }
  .skill ul li p {
    padding-bottom: 15px;
    font-size: 12px;
  }
  .skill ul li .skill_text {
    width: 100%;
    font-size: 15px;
    line-height: 26px;
  }
  .skill .piece_bottom {
    display: none;
  }
  .skill .piece_bottom_sp {
    display: block;
    position: relative;
    bottom: -1px;
    left: -1px;
    width: 40.8%;
    margin: 0 auto 0 0;
    transform: scale(1, -1);
  }
}
/*about*/
.about {
  margin: 0 auto 120px;
}
.about .about_inner {
  display: flex;
  justify-content: center;
}
.about .about_inner .about_img {
  width: 22%;
  max-width: 300px;
  padding-right: 7.3vw;
}
.about .about_inner .text_wrap {
  text-align: center;
}
.about .about_inner .text_wrap .text {
  width: 36vw;
  max-width: 486px;
  padding-bottom: 40px;
  font-size: 16px;
  line-height: 28px;
}
.about .about_inner .text_wrap .btn {
  display: block;
  width: 16vw;
  max-width: 220px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .about {
    margin: 0 auto 70px;
  }
  .about .about_inner {
    flex-direction: column;
    align-items: center;
  }
  .about .about_inner .about_img {
    width: 40vw;
    margin: 0 auto 20px;
    padding: 0;
  }
  .about .about_inner .text_wrap {
    width: 80%;
  }
  .about .about_inner .text_wrap .text {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 30px 0;
    font-size: 14px;
    line-height: 24px;
  }
  .about .about_inner .text_wrap .btn {
    width: 40vw;
    max-width: 150px;
  }
}
/*contect*/
.contact p {
  display: block;
  margin-bottom: 80px;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .contact p {
    margin-bottom: 80px;
    font-size: 16px;
  }
}
/*footer*/
footer .contact_btn {
  display: none;
}/*# sourceMappingURL=style.css.map */