@charset "utf-8";
$gray: #333333;
$orange: #f28704;

.works{
    .works_inner{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;
        width: 80%;
        max-width: 1000px;
        margin: 0 auto 100px;
        .works_content{
            width: 400px;
            margin-bottom: 50px;
            overflow: hidden;
            .content_img{
                position: relative;
                width: 100%;
            }
            .content_img:before{
                content: "";
                display: block;
                position: absolute;
                top: -100%;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url(../../images/read-more-hover@2x.png);
                background-size: cover;
                transition: top 0.35s;
            }
            .content_text{
                padding: 4%;
                border-bottom-left-radius:20px;
                border-bottom-right-radius: 20px;
                background-color: white;
                text-align: left;
                h4{
                    padding-bottom: 10px;
                    color: $gray;
                    font-size: 20px;
                }
                .content_category{
                    display: flex;
                    justify-content: flex-start;
                    span{
                        display: block;
                        margin-right: 10px;
                        padding: 5px 10px;
                        background-color: $gray;
                        border-radius: 10px;
                        font-size: 14px;
                        color: white;
                    }
                }
            }
            &:hover .content_img:before{
                top: 0;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
        }
    }

    @media  screen and (max-width: 767px) {
        .works{
            .works_content{
                width: 300px;
                margin-bottom: 40px;
                .content_text{
                    h4{
                        font-size: 16px;
                    }
                    .content_category{
                        span{
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        
    }